@import 'https://cdn.jsdelivr.net/npm/water.css@2/out/water.css';

html {
  background-color: #202b38 !important;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.appHeader {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  min-height: 10vh;
  -moz-user-select: none;
  user-select: none;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile.disabled {
  filter: contrast(105%);
}

.grid {
  background-color: #1b2430;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
  -moz-user-select: none;
  user-select: none;
}

.grid:hover {
  cursor: pointer;
}

#footer {
  margin-top: 1rem;
  padding-top: 0px;
  border-top: 1px solid grey;
}
#footer > p {
  margin-top: 0.5rem;
  font-size: 16px;
}

#screenPlaceholder {
  height: 50px;
}
